//- This is the list of your current recipes. You can reach this page with /users/:userId/recipes
extends ../layout
include ../mixins

block content
  +nav("Cornucopia", "navmenu")
    +nav_left()
      +nav_item("/users/57e6fa39dcba0f377cf97047/recipes", "active") Your Recipes
      +nav_item("/users/57e6fa39dcba0f377cf97047/groceries") Grocery List
      +nav_item("/feed") Find New Recipes
    +nav_right()
      +nav_item("/")
        span.glyphicon.glyphicon-log-out
        |    Logout

  -for (var i = 0; i < recipesSaved.length; i++) {
      .col-lg-4.col-md-4.col-sm-12.col-xs-12
        .panel.panel-default
          .panel-body
            img.img-responsive.img-food.center-block(src='https://i.ytimg.com/vi/x--TCFQlwOc/maxresdefault.jpg')
            h4= recipesSaved[i]['name']
            p= recipesSaved[i]['ingredients']

  -}
